{% extends "main.html" %}
{% load i18n %}

    {% block content %}

        {% if user.is_authenticated %}
        <p>{% trans 'Singed in as' %}: <b>{{ user }}</b></p>
        <a href="{% url 'logout' %}">{% trans 'Sign out' %}<a></a>
        {% else %}
        <p>{% trans 'Sign in or sign up to get access to all functionality' %}</b></p>
        <p><a href="{% url 'login' %}">{% trans 'Sign in' %}</a> or <a href="{% url 'signup' %}">{% trans 'Sing up' %}</a>.</p>
        {% endif %}

    {% endblock %}


    {% block sidebar %}

        {% if user.is_authenticated %}
        <p>{% trans 'Signed in as' %} <b>{{ user }}</b> (<a href="{% url 'logout' %}">{% trans 'Sign out' %}</a>)</p>
        
        <ul>
            <li><a href="{% url 'plants' %}">{% trans 'Plants' %}</a></li>
            <li><a href="{% url 'plant_create_edit' %}">{% trans 'Add new plant' %}</a></li>
            <li><a href="{% trans 'Friends' %}">{% trans 'Friends' %}</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="{% url 'login' %}">{% trans 'Sign in' %}</a></li>
            <li><a href="{% url 'signup' %}">{% trans 'Sing up' %}</a></li>
            <li><a href="">{% trans 'Random plant' %}</a></li>
        </ul>
        {% endif %}

    {% endblock %}

