{% extends "main.html" %}
{% load i18n %}

    {% block content %}
    <form action="{% url 'login' %}" method="post" class="login-form">
        {% csrf_token %}
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" />
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    {% endblock %}