{% load i18n %}
  <div class="flex-shrink-0 p-3 bg-white shadow mb-5 rounded" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">{% trans 'Navigation' %}</span>
    </a>
    <ul class="list-unstyled ps-0">
      {% if user.is_authenticated %}
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          {% trans 'Plants' %}
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url 'plants' %}" class="link-dark rounded">{% trans 'MyPlants' %}</a></li>
            <li><a href="{% url 'plant_create_edit' %}" class="link-dark rounded">{% trans 'CreateNewPlant' %}</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          {% trans 'Social' %}
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">{% trans 'MyFriends' %}</a></li>
            <li><a href="#" class="link-dark rounded">{% trans 'AddFriend' %}</a></li>
            <li><a href="#" class="link-dark rounded">{% trans 'FriendRequests' %}</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      {% endif %}
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse {% if not user.is_authenticated %}show{% endif %}" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {% if user.is_authenticated %}
            <li><a href="{% url 'user_home' %}" class="link-dark rounded">{% trans 'MyProfile' %}</a></li>
            <li><a href="{% url 'logout' %}" class="link-dark rounded">{% trans 'Logout' %}</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="link-dark rounded">{% trans 'Login' %}</a></li>
            <li><a href="{% url 'signup' %}" class="link-dark rounded">{% trans 'Sign Up' %}</a></li>
            {% endif %}
          </ul>
        </div>
      </li>

      <li class="mb-1">
        {% block sidebar %}{% endblock %}
      </li>
    </ul>
  </div>