{% extends "main.html" %}
{% load i18n %}

    {% block content %}
    <h4>Add {{ action.name }} for: {{ plant.fancy_name|safe }}</h4>
    <div class="container my-4">
        <form action="{% url 'plant_add_action' plant.id action.key %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col">
                <div class="row row-cols-2 my-2 ">
                    <div class="col">{{ form }}</div>
                </div>
                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            </div>
        </form>
    </div>
    {% endblock %}
