{% extends "main.html" %}
{% load i18n %}

    {% block content %}
    <div class="container">
        <h4>{% trans 'UploadPhotoWithAutoPlantIdentification' %}</h4>
        <hr><br>
        <form action="{% url "detect_photo" %}" method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <div class="mb-3">
                <label class="file-label">{% trans 'PhotoUploading: ' %}</label>
                <input class="file-input" type="file" name="image_file">
            </div>
            <div class="mb-3">
                <p>Try to get a date whet photo was taken from EXIF or input it manually:</p>
                <label for="PhotoDateFromExif" class="form-label">{% trans 'Try to get from EXIF: ' %}</label>
                <input class="form-check-input" type="checkbox" value="True" name="PhotoDateFromExif" id="PhotoDateFromExifChecked" checked>
            </div>
            <div class="mb-3">
                <input type="submit" value="Submit" class="button is-primary" />
            </div>
        </form>
        {% for line in messages %}
        <p>{{ line }}</p> 
        {% endfor %}

        {% for plant in rich_plants %}
        <p>Photo was automatically added for plant: <a href="{% url "plant_view" plant.id %}">{{ plant.fancy_name|safe }}</a></p>
        {% endfor %}
        
    </div>
    {% endblock %}