{% extends "main.html" %}
{% load i18n %}
    {% block content %}
    <div class="container">
        
        <div>
            <h4>by Genus</h4>
            {% for genus in genuses %}
            <button type="button" class="btn btn-outline-secondary position-relative mx-3 my-3">
                <a style="color:inherit" href="{% url 'plants_by_genus' genus.name %}">{{ genus.name }}</a>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                {{ genus.number }}
                <span class="visually-hidden">{{ genus.number }} {% trans 'plants found' %}</span>
                </span>
            </button>
            {% endfor %}
        </div>
        <div>
            <h4>by Tag</h4>
            {% for tag in tags %}
            <button type="button" class="btn btn-outline-secondary position-relative  mx-3 my-3">
                <a style="color:inherit" href="{% url 'plants_by_tag_id' tag.id %}">{{ tag.name }}</a>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                {{ tag.number }}
                <span class="visually-hidden">{{ tag.number }} {% trans 'plants found' %}</span>
                </span>
            </button>
            {% endfor %}
        </div>
    </div>
    {% endblock %}




