{% extends "main.html" %}
{% load i18n %}


    {% block content %}
    <h4>{{ section_name }}{% if not is_owner %}: <b>{{ user_name }}</b>{% endif %}</h4>
    
    <div class="container">
        <div class="row justify-content-end">
            <button form="filterform" type="submit" class="col-auto collapse btn btn-success btn-sm mb-2 mx-3" type="button" id="collapseFilters"  >
                Apply Filters
            </button>
            <button class="col-auto btn btn-outline-primary btn-sm mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                Filters
            </button>
        </div>
    
        <div class="row">
            <table class="table table-hover table-sm" style="font-size:0.85em; ">
                <tr class="collapse bg-white border border-warning shadow" id="collapseFilters">
                    <form id="filterform" method="post" action="{% url 'plants' %}" >
                    {% csrf_token %}
                    <td></td>
                    <td></td>
                    {% for attr_name, val_dics in  filter_attrs.items %}
                        <td>
                            {% for value_dic in val_dics %}
                                <div class="form-check">
                                    <input class="form-check-input" name="checkbox-{{ attr_name }}-{{ value_dic.val }}" type="checkbox" value="" id="chb-{{ value_dic.val }}" {% if value_dic.checked %}checked{% endif %}>
                                    <label class="form-check-label" for="chb-{{ value_dic.val }}">
                                        {{ value_dic.val }}
                                    </label>
                                </div>
                            {% endfor %}
                        </td>
                    {% endfor %}
                    </form>

                <tr>

                
                <tr>
                    <th><input class="form-check-input" type="checkbox" value="" id="rp_all"></th>
                    <th><abbr title="{% trans 'Unique Plant Identificator' %}" class="initialism">UPID</abbr></th>
                    {% for attr, transl in attrs_titles.items %} 
                    <th><abbr title="{{ transl }}" class="initialism">{{ attr }}</abbr></th>
                    {% endfor %}
                </tr>

                <form id="selectPlantsForm" method="post" action="{% url 'get_labels_pdf' %}" >
                {% csrf_token %}
                {% for rp in rich_plants %}
                <tr>
                    <td><input class="form-check-input" type="checkbox" value="{{ rp.id }}" name="plant_ids" id="plantid-{{ rp.id }}"></td>
                    <td>
                        <a href="{% url 'plant_view' rp.id  %}">{{ rp.uid }}</a>
                    </td>   
                    {% for key,value in rp.attrs_as_dic.items %}
                        {% if key not in attrs_not_showing %}
                    <td class="{{ key }}">{{ value }}</td>
                        {% endif %}
                    {% endfor %}    
                </tr>
                {% endfor %}
                </form>
            </table>
            <button form="selectPlantsForm" type="submit" class="btn btn-info btn-sm mb-2 mx-3" type="button">
                {% trans 'GetLabelsPDF' %}
            </button>
        </div>
    </div>
    {% endblock %}




