{% extends "main.html" %}
{% load i18n %}

    {% block content %}
    <div class="container">
        <h4>{% trans 'UploadPhoto' %}</h4>
        <hr><br>
        <form action="{% url "upload_photo" plant.id %}" method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <div class="mb-3">
                <label class="file-label">{% trans 'PhotoUploading: ' %}</label>
                <input class="file-input" type="file" name="image_file">
            </div>
            <div class="mb-3">
                <p>Try to get a date whet photo was taken from EXIF or input it manually:</p>
                <label for="PhotoDateFromExif" class="form-label">{% trans 'Try to get from EXIF: ' %}</label>
                <input class="form-check-input" type="checkbox" value="True" name="PhotoDateFromExif" id="PhotoDateFromExifChecked" checked>
            </div>
            <div class="mb-3">
                <label for="PhotoDatetime" class="form-label">{% trans 'PhotoDatetime: ' %}</label>
                <input type="date" name="photo_datetime" id="PhotoDatetime">
            </div>
            <div class="mb-3">
                <label for="PhotoDescription" class="form-label">{% trans 'PhotoDescription: ' %}</label>
                <textarea class="form-control" id="PhotoDescription" name="photo_descr" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <input type="submit" value="Submit" class="button is-primary" />
            </div>
        </form>
    </div>
    {% endblock %}