{% extends "main.html" %}
{% load i18n %}
{% load static %}

    {% block content %}
    <h3 class="text-center">{{ plant.fancy_name|safe }}</h3>
    <hr>
    <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <img src="{% static 'lithops.jpg' %}" class="img-fluid" alt="{{ plant.fancy_name|safe }}">
          </div>
          <div class="col-sm-7">
            <div class="row row-cols-3 py-1 ">
                <div class="col-4">
                    <b>UID</b>
                </div>
                <div class="col-5">
                    <h6>{{ plant.uid }}</h6>
                </div>
                <div class="col-3 d-flex justify-content-end">
                    {% if is_owner %}
                    <button class="btn btn-primary btn-sm py-0" type="button" data-bs-toggle="collapse" data-bs-target=".collapseEmptyAttrs" aria-expanded="false" aria-controls="collapseEmptyAttrs">
                        {% trans 'ShowEmpty' %}
                    </button>
                    {% endif %}
                </div>
            </div>
            {% for attr in plant.attrs_as_list_w_types  %}
            {% if attr.type != 5 %}
            <div class="row row-cols-3 border-top py-1 {% if not attr.value %}collapse collapseEmptyAttrs{% endif %}">
                <div class="col-4">
                    <b>{{ attr.name }}</b>
                </div>
                <div class="col-5">
                    {{ attr.value }}
                </div>
                <div class="col-3 d-flex justify-content-end ">
                    {% if is_owner %}
                    <a href="{% url 'plant_edit_attr' plant.id attr.key %}" class="btn btn-outline-primary btn-sm py-0">{% trans 'Edit' %}</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% for attr in plant.attrs_as_list_w_types  %}
            {% if attr.type == 5 %}
            <div class="row {% if not attr.value %}collapse collapseEmptyAttrs{% endif %}">
                <div class="col-12">
                    <h5>{{attr.name}}</h5>
                    <p>{{attr.value}}</p>
                    {% if is_owner %}
                    <a href="{% url 'plant_edit_attr' plant.id attr.key %}" class="btn btn-outline-primary btn-sm">{% trans 'Edit' %}</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
      </div>


      <hr />

    <!-- Action Buttons -->

    <!-- Watering and Feritlizing-->
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans 'Watering...' %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" href="{% url 'plant_add_action' plant.id 'watering' %}">Regular watering</a></li>
            <li><a class="dropdown-item" href="{% url 'plant_add_action' plant.id 'fertilizing' %}">Watering with fertilizer</a></li>
        </ul>
    </div>
    
    <!--  Pots and Substrate -->
    <div class="btn-group" role="group">
        <button id="btnGroupDrop2" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans 'Repotting...' %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2">
            <li><a class="dropdown-item" href="{% url 'plant_add_action' plant.id 'repotting' %}">{% trans 'Repotting' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'plant_add_action' plant.id 'change_soil' %}">{% trans 'Change soil' %}</a></li>
        </ul>
    </div>

    <!--  Pests and Fungus -->
    <div class="btn-group" role="group">
        <button id="btnGroupDrop3" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans 'Pests...' %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3">
            <li><a class="dropdown-item" href="{% url 'plant_add_action' plant.id 'desinsection' %}">{% trans 'Desinsection' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'plant_add_action' plant.id 'antifungal' %}">{% trans 'Antifungal' %}</a></li>
        </ul>
    </div>

    <!-- Other -->
    <div class="btn-group"> 
        <button type="button" class="btn btn-primary" formaction="{% url 'plant_add_action' plant.id 'other' %}" >
            {% trans 'Other action' %}
        </button>
    </div>

    <!-- Photos  -->
    <div class="btn-group">
        <a href="{% url 'upload_photo' plant.id %}" class="btn btn-primary" role="button">{% trans 'Add_Photo' %}</a>
    </div>
    
    

    <hr>
    <h4>{% trans 'ChangeHistory' %}</h4>
    <div class="container">
        {% for log in plant.logs  %}
        <div class="row">
            <div class="col-3 d-flex align-items-center pe-0">
                <div class="col-12 border-bottom border-primary border-2">{{ log.action_time }}</div>
            </div>
            <div class="col-1 border-start border-primary border-3">
            </div>
            <div class="col-8">
                <div class="card my-4" style="width: 25rem;">
                    <div class="card-body">

                    {% if log.action_type == 1 %}
                        {% for key, value in log.data.items %}
                            {% if key == 'action' %} <h5 class="card-title">{{ value }}</h5> {% endif %}
                            {% if key == 'photo_url' %}<img src="{{ value }}" class="card-img-top" alt="..."> {% endif %}
                            {% if key == 'comment' %}<p class="card-text">{{ value }}</p> {% endif %}
                            {% if key == 'photo_description' %}<p class="card-text">{{ value }}</p> {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if log.action_type == 2 %}
                        <h5 class="card-title">{% trans 'ParametersEditing' %}</h5>
                        {% for key, value in log.data.items %}
                            <p class="card-text">
                                <b>{{ key }}:</b> {{ value }} <br />
                            </p>
                        {% endfor %}
                    {% endif %}

                    {% if log.action_type == 3 %}
                        <h5 class="card-title">Deleting</h5>
                        <p class="card-text">Something was deleted...</p>
                    {% endif %}

                    </div>


                    <!--
                    <img src="{% static 'lithops.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ log.action_type }}</h5>
                      <p class="card-text">{{ log.data }}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    -->
                    
                </div>
            </div>
        </div> 
        {% endfor %}
    </div> 

    {% endblock %}




