{% extends "main.html" %}
{% load i18n %}
{% load static %}

    {% block content %}
    <h3 class="text-center">{{ plant.fancy_name|safe }}</h3>
    <hr>
    <div class="container">
        <div class="row">
          <div class="col-sm-5">
            {% if not plant.profile_photo  %}
            <img src="{% static 'lithops.jpg' %}" class="img-fluid" alt="{{ plant.fancy_name|safe }}">
            {% else %}
            <img src="{{ plant.profile_photo.small.url }}" class="img-fluid" alt="{{ plant.fancy_name|safe }}">
            {% endif %}
            <a href="{% url 'set_profile_img_dialog' plant.id %}" class="btn btn-outline-primary btn-sm">{% trans 'SetPhoto' %}</a>
          </div>
          <div class="col-sm-7">
            <div class="row row-cols-3 py-1 ">
                <div class="col-4">
                    <b>UID</b>
                </div>
                <div class="col-5">
                    <h6>{{ plant.uid }}</h6>
                </div>
                <div class="col-3 d-flex justify-content-end">
                    {% if is_owner %}
                    <button class="btn btn-primary btn-sm py-0" type="button" data-bs-toggle="collapse" data-bs-target=".collapseEmptyAttrs" aria-expanded="false" aria-controls="collapseEmptyAttrs">
                        {% trans 'ShowEmpty' %}
                    </button>
                    {% endif %}
                </div>
            </div>
            {% for attr in plant.attrs_as_list_w_types  %}
            {% if attr.type != 5 %}
            <div class="row row-cols-3 border-top py-1 {% if not attr.value %}collapse collapseEmptyAttrs{% endif %}">
                <div class="col-4">
                    <b>{{ attr.name }}</b>
                </div>
                <div class="col-5">
                    {{ attr.value }}
                </div>
                <div class="col-3 d-flex justify-content-end ">
                    {% if is_owner %}
                    <a href="{% url 'plant_edit_attr' plant.id attr.key %}" class="btn btn-outline-primary btn-sm py-0">{% trans 'Edit' %}</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% for attr in plant.attrs_as_list_w_types  %}
            {% if attr.type == 5 %}
            <div class="row {% if not attr.value %}collapse collapseEmptyAttrs{% endif %}">
                <div class="col-12">
                    <h5>{{attr.name}}</h5>
                    <p>{{attr.value}}</p>
                    {% if is_owner %}
                    <a href="{% url 'plant_edit_attr' plant.id attr.key %}" class="btn btn-outline-primary btn-sm">{% trans 'Edit' %}</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
      </div>


      <hr />

    <!-- Action Buttons -->

    <!-- Watering and Feritlizing-->
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans 'Watering...' %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" href="{% url 'plant_add_action' plant.id 'watering' %}">Regular watering</a></li>
            <li><a class="dropdown-item" href="{% url 'plant_add_action' plant.id 'fertilizing' %}">Watering with fertilizer</a></li>
        </ul>
    </div>
    
    <!--  Pots and Substrate -->
    <div class="btn-group" role="group">
        <button id="btnGroupDrop2" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans 'Repotting...' %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2">
            <li><a class="dropdown-item" href="{% url 'plant_add_action' plant.id 'repotting' %}">{% trans 'Repotting' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'plant_add_action' plant.id 'change_soil' %}">{% trans 'Change soil' %}</a></li>
        </ul>
    </div>

    <!--  Pests and Fungus -->
    <div class="btn-group" role="group">
        <button id="btnGroupDrop3" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans 'Pests...' %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop3">
            <li><a class="dropdown-item" href="{% url 'plant_add_action' plant.id 'desinsection' %}">{% trans 'Desinsection' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'plant_add_action' plant.id 'antifungal' %}">{% trans 'Antifungal' %}</a></li>
        </ul>
    </div>

    <!-- Other -->
    <div class="btn-group"> 
        <button type="button" class="btn btn-primary" formaction="{% url 'plant_add_action' plant.id 'other' %}" >
            {% trans 'Other action' %}
        </button>
    </div>

    <!-- Photos  -->
    <div class="btn-group">
        <a href="{% url 'upload_photo' plant.id %}" class="btn btn-primary" role="button">{% trans 'Add_Photo' %}</a>
    </div>

    <hr>

    <!-- Tags -->

    {{ plant_serialized| json_script:"current_plant"}}



    <div>

        <div id="tags">
            <div class="container">
              <tag-item
                          v-for="tag in extisitng_tags"
                          v-bind:tag="tag"
                          v-bind:key="tag.id"
            ></tag-item>
              
              <hr />
              
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" v-on:click="showCreateNewDiv">Create New</button>
        
              <hr />
              
              <div class="input-group mb-3 my-2" v-if="create_new_shown">
                <span class="input-group-text">New tag name:</span>
                <input v-model="new_tag" type="text" class="form-control" placeholder="Separate with comma, case independent" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" v-on:click="createTagPost">Add</button>
              </div>
            </div>
        </div>

    </div>
    

    <hr>
    
    <h4>{% trans 'ChangeHistory' %}</h4>
    <div class="container">
        {% for log in plant.logs_for_cards  %}
        <div class="row">
            <div class="col-3 d-flex align-items-center pe-0">
                <div class="col-12 border-bottom border-primary border-2">{{ log.action_time }}</div>
            </div>
            <div class="col-1 border-start border-primary border-3">
            </div>
            <div class="col-8">
                <div class="card my-4" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ log.title }}</h5>
                        {% if log.subtitle %}<h6 class="card-subtitle mb-2 text-muted">{{ log.subtitle }}</h6>{% endif %}
                        {% if log.img_url %}<img src="{{ log.img_url }}" class="card-img-top" alt="{{ log.img_alt }}">{% endif %}
                        {% if log.text %}<p class="card-text">{{ log.text }}</p> {% endif %}
                        <ul class="list-group list-group-flush">
                            {% for key, value in log.attrs.items %}
                            <li class="list-group-item"><b>{{ key }}</b>: {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
        {% endfor %}
    </div> 

    <script src="{% static 'js/tags_vue_app.js' %}"></script>

    {% endblock %}


    

